env/
dist/
*.pyc
MANIFEST
bitbucket/tests/private/settings.py

# Ignore Sublime Text project files
*.sublime-project
*.sublime-workspace

# Ignore aptana and eclipse files
.project
.pydevproject
.settings/
build/

# Ignore doc binaries
docs/_build/doctrees/
